<div class="card">
 <div class="card-body">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <td>Fuente</td>
      <td></td>
     </tr>
     <tr>
      <td>Cobertura geográfica</td>
      <td></td>
     </tr>
     <tr>
      <td>Periodicidad</td>
      <td></td>
     </tr>
     <tr>
      <td>Año</td>
      <td></td>
     </tr>
     <tr>
      <td></td>
      <td></td>
     </tr>
     <tr>
      <td></td>
      <td></td>
     </tr>
     <tr>
      <td></td>
      <td></td>
     </tr>
     <tr>
      <td></td>
      <td></td>
     </tr>
     <tr>
      <td>Notas</td>
      <td></td>
     </tr>
    </tbody>
    <tfoot>
     <tr>
      <th>Variable</th>
      <th>Detalle</th>
     </tr>
    </tfoot>
  </table>
 </div>
 <!-- /.card-body -->
</div>
<!-- /.card -->
