<div class="row">
 <div class="col-12">
  <div class="card">
   <div class="card-header">
    <h3 class="card-title">
      Distribución de Personas Usuarias según Área de Influencia CCP.
    </h3>
    <div class="card-tools">
     <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-minus"></i>
     </button>
     <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
     </button>
    </div>
   </div>
   <div class="card-body">
    <div class="row">
     <div class="col-12 text-center">
      <div id="area" class="cuadro-uno">
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="col-12">
  <div class="card collapsed-card">
   <div class="card-header">
    <h3 class="card-title">
      Permanencia de Personas Usuarias en Procesos Formativos CCP (Cantidad de Personas usuarias que finalizan procesos).
    </h3>
    <div class="card-tools">
     <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-plus"></i>
     </button>
     <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
     </button>
    </div>
   </div>
   <div class="card-body">
    <div class="row">
     <div class="col-12 text-center">
      <div id="permanencia_ccp" class="cuadro-uno"></div>
      <script type="text/javascript">
      </script>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="col-12">
  <div class="card  collapsed-card">
   <div class="card-header">
    <h3 class="card-title">
      Permanencia de Personas Usuarias del CCP en el Sistema Educativo (Permanecen vs No Permanecen).
    </h3>
    <div class="card-tools">
     <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-plus"></i>
     </button>
     <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
     </button>
    </div>
   </div>
   <div class="card-body">
    <div class="row">
     <div class="col-6 text-center">
      <div id="permanencia_edu12" class="cuadro-dos"></div>
     </div>
     <div class="col-6 text-center">
      <div id="permanencia_edu17" class="cuadro-dos"></div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="col-12">
  <div class="card collapsed-card">
   <div class="card-header">
    <h3 class="card-title">
      Porcentaje de Cobertura de Oferta Formativa CCP según Área de Influencia
    </h3>
    <div class="card-tools">
     <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-plus"></i>
     </button>
     <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
     </button>
    </div>
   </div>
   <div class="card-body">
    <div class="row">
     <div class="col-12 col-md-12 text-center">
      <div id="cobertura" class="cuadro-uno">
       <div class="table-responsive">
        <table class="table display responsive table-bordered wrap compact" id="influencia-ccp" width="100%" cellspacing="0">
         <thead>
          <tr>
           <th rowspan="2">CANTÓN</th>
           <th rowspan="2"># JÓVENES 13 A 17 AÑOS</th>
           <th rowspan="2">ÁREA INFLUENCIA</th>
           <th colspan="2">JÓVENES 13 A 17 AÑOS /DISTRITO</th>
          </tr>
          <tr>
           <th>TOTAL</th>
           <th>% CON RESPECTO AL CANTÓN</th>
          </tr>
         </thead>
         </tbody>
          {% for d in vars.influencia %}
          <tr>
           <td>{{ d.CantonDescripcion }}</td>
           <td>{{ d.CantonPoblacionTotal }}</td>
           <td>{{ d.DistritoDescripcion }}</td>
           <td>{{ d.DistritoPoblacionTotal }}</td>
           <td>{{ d.porcent }}</td>
          </tr>
          {% endfor %}
         </tbody>
        </table>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


<script type="text/javascript">
var imagenSiprevi =
       {
           type: 'image',
           id: 'logo',
           right: 20,
           bottom: 110,
           z: -10,
           style: {
               image: '{{ asset("resources/img/logo_min_ccp.png") }}',
               width: 230,
               height: 70,
               opacity: 0.2
           }
       }
        var seriesLabel = {
          normal: { show: true,textStyle:{color: '#000'}, position: 'inside', rotate: 0, formatter: function (value, index) {
            return echarts.format.addCommas(value.data); }
          }
        }
        var serieToolbox = {show: true, orient: 'vertical', right: 'left', top: 'left',
           feature: {
            dataZoom: {show:true, title:{ zoom:'Zoom', back:'Restablecer' }},
            mark: {show: true},
                 dataView: {show: true, title : 'Datos', lang: ['Vista de datos', 'Retornar','Actualizar']},
                 magicType: {show: true, title: { line: "Lineas", bar: "Barras", 'stack': "Pila",  'tiled': "Pila" }, type: ['line', 'bar', 'stack', 'tiled'] },
                 restore: {show: true, title : 'Reiniciar'},
                 saveAsImage: {show: true, title : 'Guardar como imagen'}
             }
           }


  var myChart = echarts.init(document.getElementById('area'));
  var option = {
   title: { text: '' },
   toolbox: serieToolbox,
   tooltip : { trigger: 'axis', axisPointer : { type : 'shadow' } },
   legend: { data:['Hombres', 'Mujeres', 'Total'], orient: 'horizontal', orient: 'horizontal', x: 'left', bottom:'bottom', padding: [0, 0, 0, 0] },
   xAxis: {
    axisLabel: {rotate: 15, interval: 0}, nameRotate: 0,
    {% set v = FALSE %}
    rotate: 10,
    data: [{% for d in vars.distroh %}{% if v %},"{{ d.cat }}"{% else %}{% set v = TRUE %}"{{ d.cat }}"{% endif %}{% endfor %}] },
    yAxis: {},
    series: [
     { name: 'Hombres', type: 'bar', stack: 'one', data: [{% for d in vars.distroh %}{% if v %}{{ d.val }}{% set v = FALSE %}{% else %},{{ d.val }}{% endif %}{% endfor %}] },
     { name: 'Mujeres', type: 'bar', stack: 'two', data: [{% for d in vars.distrom %}{% if v %},{{ d.val }}{% else %}{% set v = TRUE %}{{ d.val }}{% endif %}{% endfor %}] },
     { name: 'Total', type: 'line', data: [{% for d in vars.distrot %}{% if v %}{{ d.val }}{% set v = FALSE %}{% else %},{{ d.val }}{% endif %}{% endfor %}] }
   ],
   graphic: [ imagenSiprevi ],
   color : ['#c5c6c6','#48cfad', '#ffce54', '#fc6e51']
  };
  myChart.setOption(option);

  var myChart = echarts.init(document.getElementById('permanencia_ccp'));
  var option = {
   title: { text: '' },
   toolbox: serieToolbox,
   tooltip : { trigger: 'axis', axisPointer : { type : 'shadow' } },
   legend: { data:['Finalizados', 'Sin finalizar'], orient: 'horizontal', orient: 'horizontal', x: 'left', bottom:'bottom', padding: [0, 0, 0, 0] },
   xAxis: {
    {% set v = FALSE %}
    data: [{% for d in vars.permanenciac %}{% if v %},"{{ d.cat }}"{% else %}{% set v = TRUE %}"{{ d.cat }}"{% endif %}{% endfor %}] },
    yAxis: {},
    series: [
     { name: 'Finalizados', type: 'bar', data: [{% for d in vars.permanenciac %}{% if v %}{{ d.val }}{% set v = FALSE %}{% else %},{{ d.val }}{% endif %}{% endfor %}] },
     { name: 'Sin finalizar', type: 'bar', data: [{% for d in vars.permanencian %}{% if v %},{{ d.val }}{% else %}{% set v = TRUE %}{{ d.val }}{% endif %}{% endfor %}] }
   ],
   graphic: [ imagenSiprevi ],
   color : ['#c5c6c6','#48cfad', '#ffce54', '#fc6e51']
  };
  myChart.setOption(option);

  var myChart = echarts.init(document.getElementById('permanencia_edu12'));
  var option = {
   title: { text: '' },
   toolbox: serieToolbox,
   tooltip : { trigger: 'axis', axisPointer : { type : 'shadow' } },
   legend: { data:['Hombres de 7-12 años', 'Mujeres de 7-12 años'], orient: 'horizontal', orient: 'horizontal', x: 'left', bottom:'bottom', padding: [0, 0, 0, 0] },
   xAxis: {
    axisLabel: {rotate: 15, interval: 0}, nameRotate: 0,
    {% set v = FALSE %}
    data: [{% for d in vars.permanencia_edu12h %}{% if v %},"{{ d.cat }}"{% else %}{% set v = TRUE %}"{{ d.cat }}"{% endif %}{% endfor %}] },
   yAxis: {},
   series: [
     { name: 'Hombres de 7-12 años', type: 'bar', data: [{% for d in vars.permanencia_edu12h %}{% if v %}{{ d.val }}{% set v = FALSE %}{% else %},{{ d.val }}{% endif %}{% endfor %}] },
     { name: 'Mujeres de 7-12 años', type: 'bar', data: [{% for d in vars.permanencia_edu12m %}{% if v %},{{ d.val }}{% else %}{% set v = TRUE %}{{ d.val }}{% endif %}{% endfor %}] }
   ],
   graphic: [ imagenSiprevi ],
   color : ['#c5c6c6','#48cfad', '#ffce54', '#fc6e51']
  };
  myChart.setOption(option);

 var myChart = echarts.init(document.getElementById('permanencia_edu17'));
 var option = {
  title: { text: '' },
  toolbox: serieToolbox,
  tooltip : { trigger: 'axis', axisPointer : { type : 'shadow' } },
  legend: { data:['Hombres de 13-17 años', 'Mujeres de 13-17 años'], orient: 'horizontal', orient: 'horizontal', x: 'left', bottom:'bottom', padding: [0, 0, 0, 0] },
  xAxis: {
   axisLabel: {rotate: 15, interval: 0}, nameRotate: 0,
   {% set v = FALSE %}
   data: [{% for d in vars.permanencia_edu17h %}{% if v %},"{{ d.cat }}"{% else %}{% set v = TRUE %}"{{ d.cat }}"{% endif %}{% endfor %}] },
  yAxis: {},
  series: [
    { name: 'Hombres de 13-17 años', type: 'bar', data: [{% for d in vars.permanencia_edu17h %}{% if v %}{{ d.val }}{% set v = FALSE %}{% else %},{{ d.val }}{% endif %}{% endfor %}] },
    { name: 'Mujeres de 13-17 años', type: 'bar', data: [{% for d in vars.permanencia_edu17m %}{% if v %},{{ d.val }}{% else %}{% set v = TRUE %}{{ d.val }}{% endif %}{% endfor %}] }
  ],
  graphic: [ imagenSiprevi ],
  color : ['#3bafda','#48cfad', '#ffce54', '#fc6e51','#c5c6c6']
 };
 myChart.setOption(option);
</script>
