{% extends 'base.html.twig' %}
{% block content %}
<div class="row col-12">
  <div class="col">
   <h2 style=" height: 90px;line-height: 90px;text-align: center;">
    ESTADO DE PROCESOS FORMATIVOS.
   </h2>
  </div>
</div>
<div class="row col-12">
 <form action="{{ path('tablero_estadisticas') }}" method="post">
  <div class="form-row col-12">
   <div class="col-2">
    <select class="form-control select2" style="width: 100%;" id="anio" name="anio">
     <option selected="selected" value="-1">Todos los años</option>
     <option value="2018"> 2018 </option>
     <option value="2019"> 2019 </option>
     <option value="2020"> 2020 </option>
    </select>
   </div>
   <div class="col-2">
    <div class="form-group">
     <select class="form-control select2" style="width: 100%;"  id="ccp" name="ccp">
      <option selected="selected" value="-1">Todos los centros cívicos</option>
      {% for opt in form.ccp %}
      <option value="{{ opt.CentroCivicoID }}"> {{ opt.CentroCivicoDescripcion }} </option>
      {% endfor %}
     </select>
    </div>
   </div>
   <div class="col-2">
    <select class="form-control select2" style="width: 100%;"  id="distro" name="distro">
     <option selected="selected" value="-1">Todos los distritos</option>
     {% for opt in form.distrito %}
     <option value="{{ opt.DistritoID }}"> {{ opt.ProvinciaDescripcion }}/{{ opt.CantonDescripcion }}/{{ opt.DistritoDescripcion }} </option>
     {% endfor %}
    </select>
   </div>
   <div class="col-2">
    <div class="input-group">
     <input type="date" class="form-control select2" placeholder="Fecha inicio"  id="dinit" name="dinit" value=''/>
    </div>
   </div>
   <div class="col-2">
    <div class="input-group">
     <input type="date" class="form-control" placeholder="Fecha finalización"  id="dend" name="dend" value=''/>
    </div>
   </div>
   <div class="col-2">
    <select class="form-control select2" style="width: 100%;"  id="state" name="state">
     <option selected="selected" value="-1">Todos los estados de procesos</option>
     <option value="27"> En Curso </option>
     <option value="28"> Concluyó </option>
     <option value="29"> No concluyó </option>
     <option disabled="disabled">Proceso Interrumpido</option>
    </select>
   </div>
  </div>
  <div class="form-row">
   <div class="col" style="text-align: center;">
    <input type="reset" class="btn bg-gradient-secondary btn-sm" value="Restablecer" />
    <input type="submit" class="btn bg-gradient-warning btn-sm" value="Aplicar filtro" />
   </div>
  </div>
 </form>
</div>
<div class="col-12 clearfix">
 <br/>
</div>
<div class="col-12">
 <div class="card card-primary card-outline card-outline-tabs">
  <div class="card-header p-0 border-bottom-0">
   <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
    <li class="nav-item">
     <a class="nav-link active" id="tabs-mapa-tab" data-toggle="pill" href="#tabs-mapa" role="tab" aria-controls="custom-tabs-four-home" aria-selected="TRUE">Mapa</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="tabs-grafico-tab" data-toggle="pill" href="#tabs-grafico" role="tab" aria-controls="tabs-grafico" aria-selected="false">Gráficos</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="tabs-datos-tab" data-toggle="pill" href="#tabs-datos" role="tab" aria-controls="tabs-datos" aria-selected="false">Datos tabulados</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" id="tabs-diccionario-tab" data-toggle="pill" href="#tabs-diccionario" role="tab" aria-controls="tabs-diccionario" aria-selected="true">Diccionario de variables</a>
    </li>
   </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="custom-tabs-four-tabContent">
    <div class="tab-pane fade active show" id="tabs-mapa" role="tabpanel" aria-labelledby="tabs-mapa-tab">
     {% include 'ccp/board/mapa.html.twig' %}
    </div>
    <div class="tab-pane fade" id="tabs-grafico" role="tabpanel" aria-labelledby="tabs-grafico-tab">
     {% include 'ccp/board/grafico.html.twig' %}
    </div>
    <div class="tab-pane fade" id="tabs-datos" role="tabpanel" aria-labelledby="tabs-datos-tab">
     {% include 'ccp/board/tabla.html.twig' %}
    </div>
    <div class="tab-pane fade" id="tabs-diccionario" role="tabpanel" aria-labelledby="tabs-diccionario-tab">
     {% include 'ccp/board/diccionario.html.twig' %}
    </div>
   </div>
  </div>
 <!-- /.card -->
 </div>
</div>
{% endblock %}

{% block head_stylesheets %}
  <!-- daterange picker -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/daterangepicker/daterangepicker.css") }}">
  <!-- iCheck for checkboxes and radio inputs -->
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/select2/css/select2.min.css") }}">
  <link rel="stylesheet" href="{{ asset("resources/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css") }}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css") }}">
  <link rel="stylesheet" href="{{ asset("resources/plugins/datatables-responsive/css/responsive.bootstrap4.min.css") }}">
  <!-- Leaflet -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/leaflet/leaflet.css") }}" crossorigin=""/>
  <script src="{{ asset("resources/plugins/leaflet/leaflet.js") }}" crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  <link rel="stylesheet" href="{{ asset("resources/dist/css/dashboard.css") }}" crossorigin=""/>
  <style>label {display: inline-block;width: 140px;text-align: right;}</style>
  <!-- Leaflet -->
  <script src="{{ asset("resources/plugins/leaflet-easyPrint-gh-pages/dist/bundle.js") }}"></script>
  <!-- including ECharts file -->
  <script src="{{ asset("resources/plugins/echarts/dist/echarts.min.js") }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ asset("resources/plugins/datatables_last/datatables.min.css") }}"/>
{% endblock %}

{% block footer_js %}
<!-- Select2 -->
<script src="{{ asset("resources/plugins/select2/js/select2.full.min.js") }}"></script>
<!-- date-range-picker -->
<script src="{{ asset("resources/plugins/daterangepicker/daterangepicker.js") }}"></script>
<!-- DataTables -->
<!--script src="{{ asset("resources/plugins/datatables/jquery.dataTables.min.js") }}"></script>
<script src="{{ asset("resources/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js") }}"></script>
<script src="{{ asset("resources/plugins/datatables-responsive/js/dataTables.responsive.min.js") }}"></script>
<script src="{{ asset("resources/plugins/datatables-responsive/js/responsive.bootstrap4.min.js") }}"></script-->


<script type="text/javascript" src="{{ asset("resources/plugins/datatables_last/datatables.min.js") }}"></script>

<script type="text/javascript">
$(function () {
 var table = $('#tabulados-ccp').DataTable( {
  orderCellsTop: true, lengthChange: true, "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
  "language": { "url": "{{ asset('resources/plugins/datatables/Spanish.json') }}" },
  "bPaginate": true, "bLengthChange": true, "bFilter": true, "info": true, "bAutoWidth": true,
  fixedHeader: true,"bInfo" : true, "lengthChange": true,
  "ajax": {url:"{{ url('tablero_estadisticas_tabla_json') }}?anio={{form.vanio}}&ccp={{form.vccp}}&distro={{form.vdistro}}&dinit={{form.vdinit}}&dend={{form.vdend}}&state=0",type:"POST"},
  "columns": [
     { "data": "ccp" },
     { "data": "cur" },
     { "data": "EP11" },
     { "data": "C11" },
     { "data": "NC11" },
     { "data": "PI11" },
     { "data": "EP12" },
     { "data": "C12" },
     { "data": "NC12" },
     { "data": "PI12" },
     { "data": "EP21" },
     { "data": "C21" },
     { "data": "NC21" },
     { "data": "PI21" },
     { "data": "EP22" },
     { "data": "C22" },
     { "data": "NC22" },
     { "data": "PI22" },
     { "data": "EP31" },
     { "data": "C31" },
     { "data": "NC31" },
     { "data": "PI31" },
     { "data": "EP32" },
     { "data": "C32" },
     { "data": "NC32" },
     { "data": "PI32" },
     { "data": "EP41" },
     { "data": "C41" },
     { "data": "NC41" },
     { "data": "PI41" },
     { "data": "EP41" },
     { "data": "C42" },
     { "data": "NC42" },
     { "data": "PI42" },
     { "data": "EP51" },
     { "data": "C51" },
     { "data": "NC51" },
     { "data": "PI51" },
     { "data": "EP52" },
     { "data": "C52" },
     { "data": "NC52" },
     { "data": "PI52" },
     { "data": "EP61" },
     { "data": "C61" },
     { "data": "NC61" },
     { "data": "PI61" },
     { "data": "EP62" },
     { "data": "C62" },
     { "data": "NC62" },
     { "data": "PI62" }
  ],
  dom: 'Blfrtip',
  buttons: [
      {
        extend: 'copy',
        text: 'Copiar'
      },
      'excel',
      {
        extend: 'pdfHtml5',
        orientation: 'landscape',
        pageSize: 'LEGAL',
        customize: function (doc) {
          doc.defaultStyle.fontSize = 7;
          doc.styles.tableHeader.fontSize = 7;
        }
      }
  ]
 } );
});
</script>

<script type="text/javascript">
$(function () {
 var table = $('#influencia-ccp').DataTable( {
  orderCellsTop: true, lengthChange: true, "lengthMenu": [[3,5,10, 25, 50, -1], [3,5,10, 25, 50, "Todos"]],
  "language": { "url": "{{ asset('resources/plugins/datatables/Spanish.json') }}" },
  "bPaginate": true, "bLengthChange": true, "bFilter": true, "info": true, "bAutoWidth": true,
  fixedHeader: true,"bInfo" : true, "lengthChange": true,
  responsive: true,
  dom: 'Blfrtip',
  buttons: [
      {
        extend: 'copy',
        text: 'Copiar'
      },
      'excel',
      {
        extend: 'pdfHtml5',
        orientation: 'landscape',
        pageSize: 'LEGAL',
        customize: function (doc) {
          doc.defaultStyle.fontSize = 7;
          doc.styles.tableHeader.fontSize = 7;
        }
      }
  ]
 } );
});
</script>

<script type="text/javascript">
$(function () {
 $('#anio').select2();
 $('#ccp').select2();
 $('#distro').select2();
 $('#state').select2();
});
</script>
{% endblock %}
