<div id='map-ccp' class="map" style="height: 400px;width:100%;"></div>
<script type="text/javascript">
 {% set v = FALSE %}
 var sinCoberturaData = {"type":"FeatureCollection","features":[
  {% for d in vars.geojson %}
   {% if v %}
    ,{"type":"Feature","id":"{{ d.id }}","properties":{"nombre":"{{ d.nombre }}"}, "geometry": {{ d.geoJson | raw }} }
   {% else %}
   {% set v = TRUE %}
     {"type":"Feature","id":"{{ d.id }}","properties":{"nombre":"{{ d.nombre }}"}, "geometry": {{ d.geoJson | raw }} }
   {% endif %}
  {% endfor %}
 ]}
</script>
<script type="text/javascript">
 {% set v = FALSE %}
 var coberturaData = {"type":"FeatureCollection","features":[
  {% for d in vars.geojson2 %}
   {% if v %}
    ,{"type":"Feature","id":"{{ d.id }}","properties":{"nombre":"{{ d.nombre }}"}, "geometry": {{ d.geoJson | raw }} }
   {% else %}
   {% set v = TRUE %}
     {"type":"Feature","id":"{{ d.id }}","properties":{"nombre":"{{ d.nombre }}"}, "geometry": {{ d.geoJson | raw }} }
   {% endif %}
  {% endfor %}
 ]}
</script>
<script type="text/javascript">
  var sectorData = {"type":"FeatureCollection","features":[  ]}
</script>
<script type="text/javascript">
 var map = L.map('map-ccp', {scrollWheelZoom: false }).setView([9.748917, -83.753428], {{ 7 }});
 var tiles = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
   maxZoom: 18,
   attribution: '<a href="https://www.mjp.go.cr" base="_blank">Ministerio de Justicia y Paz</a> en estricto apego a su rectoría en Prevención de la Violencia',
   id: 'mapbox.light'
 }).addTo(map);
 var info = L.control();
 info.onAdd = function (map) {
   this._div = L.DomUtil.create('div', 'info');
   this.update();
   return this._div;
 };
 info.update = function (props) {
   this._div.innerHTML = '<h4>Áreas de influencia .</h4>' +  (props ?
     '<b> Área : ' + props.nombre : 'Posicione el cursor sobre el área a analizar');
 };
 info.addTo(map);
 function getColor(d) {
   return d < 0.1   ? '#009FE3' :
     d < 0.3   ? '#94C11F' :
     d < 0.5   ? '#FCEA12' :
     d < 0.7   ? '#F39200' :
     d <= 1.0 ? '#C80606' :
    '#009FE3';
 }
 function style(feature) {
   return { weight: 2, opacity: 1, color: 'white', dashArray: '3', fillOpacity: 0.7, fillColor: getColor(feature.properties.total) };
 }
 function highlightFeature(e) {
   var layer = e.target;
   layer.setStyle({ weight: 5, color: '#666', dashArray: '', fillOpacity: 0.7 });
   if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) { layer.bringToFront(); }
   info.update(layer.feature.properties);
 }
 var geojson;
 function resetHighlight(e) {
   geojson.resetStyle(e.target);
   info.update();
 }
 function zoomToFeature(e) {
   map.fitBounds(e.target.getBounds());
 }
 function onEachFeature(feature, layer) {
   layer.on({
     mouseover: highlightFeature,
     mouseout: resetHighlight,
     click: zoomToFeature
   });
 }

 geojson = L.geoJson(sectorData, {
   style: style,
   onEachFeature: onEachFeature
 }).addTo(map);
var legend = L.control({position: 'bottomright'});
legend.onAdd = function (map) {
 var div = L.DomUtil.create('div', 'info legend'),
     grades = [],
     labels = [],
     from, to;
 labels.push('<i style="background:#FC6E51"></i> Zona con cobertura');
 labels.push('<i style="background:#FFE277"></i> Zona sin cobertura');
 div.innerHTML = labels.join('<br/>');
 return div;
};
legend.addTo(map);

map.addControl(new L.Control.Fullscreen());

var today = new Date().toISOString().slice(0, 10);

var printer = L.easyPrint({
  hideControlContainer: false,
  tileLayer: tiles,
  sizeModes: ['A4Landscape', 'A4Portrait'],
  filename: 'Cobertura CCP -'+today,
  exportOnly: true
}).addTo(map);


/* Add GeoJSON*/
//var sinCoberturaStyle = { "color": "#FFE277", fillColor: "#FFE277", "weight": 5 }; //, "opacity": 0.65
var sinCoberturaStyle = { color: "#000", opacity: 1, weight: 1, fillColor: '#FFE277', fillOpacity: 0.8 };
L.geoJSON( sinCoberturaData, {
  style: sinCoberturaStyle,
  onEachFeature: function(feature, layer) { layer.bindPopup('<p>'+feature.properties.nombre+'</p>') }
} ).addTo(map);

/* Add GeoJSON*/
//var coberturaStyle = { "color": "#FC6E51", fillColor: "#FC6E51", "weight": 5 }; //, "opacity": 0.65
var coberturaStyle = { color: "#FC6E51", opacity: 1, weight: 1, fillColor: '#FC6E51', fillOpacity: 0.8 };
L.geoJSON( coberturaData, {
  style: coberturaStyle,
  onEachFeature: function(feature, layer) { layer.bindPopup('<p>'+feature.properties.nombre+'</p>') }
} ).addTo(map);

</script>
