<div class="table-responsive">
 <table class="table display table-bordered no-wrap compact" id="tabulados-ccp" width="100%" cellspacing="0">
  <thead>
   <tr>
    <th rowspan="4">CCP</th>
    <th rowspan="4">PROCESO</th>
    <th colspan="48">PARTICIPANTES EN PROCESOS FORMATIVOS</th>
   </tr>
   <tr>
    <th colspan="8">0 - 6 AÑOS</th>
    <th colspan="8">7 - 12 AÑOS</th>
    <th colspan="8">13 - 17 AÑOS</th>
    <th colspan="8">18 - 35 AÑOS</th>
    <th colspan="8">36 - 64 AÑOS</th>
    <th colspan="8">65 + AÑOS</th>
   </tr>
   <tr>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
    <th colspan="4">Hombres</th>
    <th colspan="4">Mujeres</th>
   </tr>
   <tr>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
    <th>EP</th>
    <th>C</th>
    <th>NC</th>
    <th>PI</th>
   </tr>
  </thead>
  <tbody>
  </tbody>
 </table>
</div>
