  body {
      padding-top: 120px;
      padding-bottom: 40px;
      background-color: #eee;
  }
  .btn {
      outline:0;
      border:none;
      border-top:none;
      border-bottom:none;
      border-left:none;
      border-right:none;
  }
  .btn:focus {
      outline:0;
      -webkit-outline:0;
      -moz-outline:0;
  }
  .fullscreen_bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-color: #5ab9f0;
      background-position: 50% 50%;
      background-image: url(../img/background.jpg);
      background-repeat:repeat;
      z-index:-1;
  }
  .form-signin {
      max-width: 380px;
      padding: 15px;
      margin: 0 auto;
  }
  .form-signin .form-signin-heading, .form-signin {
      margin-bottom: 10px;
  }
  .form-signin h3 {
      color:#337AB7;
  }
  .form-signin .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .form-signin .form-control:focus {
      z-index: 2;
  }
  .form-signin-heading {
      color: #fff;
      text-align: center;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  input, button {
      margin-top:20px;
      border-radius: 0 !important;
      -moz-border-radius: 0 !important;
  }
  .header {
      position:fixed;
      top:0px;
      left:0px;
      right: 0px;
      height:80px;
      background-color:#fff;
      background-image:url(../img/logo.png);
      background-repeat:no-repeat;
      background-position:120px;
      background-size: auto 90%;
      line-height: 80px;
      text-align:right;
      padding-right:120px;
  }
  * {
      font-family:'Oxygen', sans-serif;
      font-weight: 300;
  }
  .form-wrapper {
      width:400px;
      background-color:#f5f5f5;
      padding:30px;
      margin-top:50px;
      float:right;
      margin-right:50px;
      padding-top:0px;
      border: solid 1px #D9E2EB;
  }
  .footer {
      position: fixed;
      bottom:0px;
      left:0px;
      right:0px;
      height:100px;
      background-color:#acdaf2;
      color:#777;
      font-size:11px;
      line-height:30px;
      padding-left:120px;
      padding-right:120px;
      padding-top:5px;
  }
  .footer hr {
      border:none;
      height:0px;
      background-color:#777;
      margin:0px;
  }
  .form-signin hr {
      border:none;
      height:1px;
      background-color:#ccc;
  }
  .company-logo {
      height:50px;
      width:20%;
      background-repeat:no-repeat;
      background-size: auto 100%;
  }
  .logo-oncase {
      background-image:url(../img/oncase.png);
      background-position:right top;
  }
  .logo-pentaho {
      background-image:url(../img/pentaho-logo-white.png);
      background-position:left top;
  }
  .gradient {
  }