
<!-- jQuery -->
<script src="{{ asset("resources/plugins/jquery/jquery.min.js") }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset("resources/plugins/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset("resources/dist/js/adminlte.min.js") }}"></script>