
<div class="content-header" style="background-color: #e1e8ec;vertical-align: middle;">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-4">
        <img src="{{ asset("resources/img/logo_ccp.png") }}" />
      </div><!-- /.col -->
      <div class="col-sm-8">
        <div class="row" style=" height: 160px;line-height: 160px;text-align: center;">
          <div class="col-sm">
             <a href="{{ asset("resources/docs/Actualizacion_Modelo_Preventivo_Centros_Civicos_por_la_Paz.pdf") }}" class="">Modelo preventivo</a>
          </div>
          <div class="col-sm">
            <a href="{{ asset("resources/docs/Manual_para_la_Convivencia_en_Centros_Civicos_por_la_Paz.pdf") }}" class="">Manual de Convivencia</a>
          </div>
          <div class="col-sm">
            <a href="{{ asset("resources/docs/Reglamento_Rector_de_Operacion_y_Funcionamiento_de_Centros_Civicos_por_la_Paz.pdf") }}" class="">Reglamento Rector</a>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
