<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Centro Cívico por la Paz{% endblock %}</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/fontawesome-free/css/all.min.css") }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset("resources/plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset("resources/dist/css/adminlte.css") }}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  {% block head_stylesheets %}{% endblock %}
  {% block head_javascripts %}{% endblock %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light" style="background-color:#4a80b0">
    <div class="container">

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ url("ccp_app_index") }}" class="nav-link" style="color:white">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" style="color:white">Expedientes</a>
          </li>
          <li class="nav-item">
            <a href="{{ url("tablero_estadisticas") }}" class="nav-link" style="color:white">Estadísticas</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="color:white">Administración</a>
          </li>
        </ul>

      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
              class="fas fa-user"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background: #ffffff;">
    <!-- Content Header (Page header) -->
    {% include 'layout/head.html.twig' %}
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content" >
      <div class="container">
        {% block content %}{% endblock %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer" style="background-color:#e1e8ec">
    <p class="text-center">
      <img src="{{ asset("resources/img/infosegura-unpd.png") }}" /><br />
      Esta plataforma es administrada por el Ministerio de Justicia y Paz en estricto apego a su rectoría en Prevención de la Violencia.
    </p>
  </footer>
</div>
<!-- ./wrapper -->
{% include 'layout/footer_js.html.twig' %}
{% block footer_js %}{% endblock %}
</body>
</html>
