{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
  <div class="col">
   <h2 style=" height: 90px;
line-height: 90px;
text-align: center;">
    SISTEMA DE REGISTRO Y ESTADÍSTICAS.
   </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="text-center">
      <img src="{{ asset("resources/img/registro.png") }}" height="148" width="148" /><br />
      <strong> Sistema de registro </strong>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at dolor sem sem. Phasellus tempus purus ex, sed porta lectus vestibulum at. Aliquam rhoncus tincidunt molestie. Fusce fermentum fermentum justo, ut luctus neque ultrices vel. Sed semper pharetra erat, nec aliquam lorem fermentum ac. Morbi pellentesque quam id tristique convallis. Aliquam erat volutpat.
    </p>
  </div>
  <div class="col">
    <p class="text-center">
      <a href="{{ url("tablero_estadisticas") }}">
        <img src="{{ asset("resources/img/estadistica.png") }}" height="148" width="148" /><br />
        <strong>Estadísticas</strong>
      </a>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at dolor sem sem. Phasellus tempus purus ex, sed porta lectus vestibulum at. Aliquam rhoncus tincidunt molestie. Fusce fermentum fermentum justo, ut luctus neque ultrices vel. Sed semper pharetra erat, nec aliquam lorem fermentum ac. Morbi pellentesque quam id tristique convallis. Aliquam erat volutpat.
    </p>
  </div>
  <div class="col">
    <p class="text-center">
      <a href="http://undpsv01vm002.westus.cloudapp.azure.com:8080/">
        <img src="{{ asset("resources/img/consultas.png") }}" height="148" width="148" /><br />
        <strong>Módulo de consultas dinámicas</strong>
      </a>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at dolor sem sem. Phasellus tempus purus ex, sed porta lectus vestibulum at. Aliquam rhoncus tincidunt molestie. Fusce fermentum fermentum justo, ut luctus neque ultrices vel. Sed semper pharetra erat, nec aliquam lorem fermentum ac. Morbi pellentesque quam id tristique convallis. Aliquam erat volutpat.
    </p>
  </div>
</div>
{% endblock %}
